@import url(./components/nav-link.css);
@import url(./components/article.css);
@import url(./components/comment.css);

header, footer {
  width: 100%;
  height: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
}

header {
  background-color: var(--red);
}

footer {
  background-color: var(--blue);
}

footer div {
  width: 90%;
  max-width: 768px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1, footer h1 {
  font-size: 4.8rem;
  font-weight: 700;
  -webkit-text-stroke-width: .24rem;
  color: var(--white);
}

header h1 {
  -webkit-text-stroke-color: var(--blue);
}

footer h1 {
  -webkit-text-stroke-color: var(--red);
}

footer .nav-link {
  color: var(--blue);
}

footer p {
  font-size: 1.2rem;
  margin-top: 1.2rem;
  color: var(--white);
}

.layout {
  width: 90%;
  max-width: 768px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.6rem;
  margin: 3.2rem auto;
}

main, aside {
  display: flex;
  flex-direction: column;
}

main {
  gap: 1.2rem;
}

aside {
  gap: 1.6rem;
}
